.element {
    padding: 0 1%;
    background-image: url("../images/tloPomaranczowe.png");
    max-width: 1200px;
    max-height: 1000px;
    width: 100%;
    resize:both;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    
}